<div class="item">
  <div class="name">
    <%= item[:name] %>
  </div>
  <div class="img">
    <img src="<%= 'images/' + item[:name].gsub(/[ \/]/, '_').gsub("\'", '').gsub(/\./, '@') + '.png' %>">
  </div>
  <div class="type">
    <%= item[:type] %>
  </div>
  <div class="desc">
    <%= item[:desc] %>
  </div>
</div>
<hr>
